
* {
    padding: 0;
    margin: 0;
}

body, html {
    font-family: arial, sans-serif;
    font-size: 9pt;
}

.bar {
    padding: 0 5px;
}

.panel {
    background-color: #C3D9FF;
    padding: 5px;
}

#header {
    margin-bottom: 5px;
}

#header > form {
    display: inline;
}

#header > form > select {
    margin: 0 5px;
    width: 150px;
}

#header > form > input {
    margin-left: 5px;
}

#issue {
    font-size: 12pt;
}

#prevnext {
    float: right;
}

#metadata {
    float: left;
    width: 150px;
    font-size: 11pt;
    padding-top: 10px;
}

#metadata > table {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

#metadata > table th {
    width: 40%;
}

.label {
    color: green !important;
}

#content {
    padding: 10px;
}

#comments {
    border-left: 3px solid #C3D9FF;
    margin-left: 150px;
}

.comment {
    border-top: 3px solid #C3D9FF;
    padding: 10px;
}

.comment:first-child {
    border-top: none;
}

.comment_head {
    font-weight: bold;
    font-size: 10pt;
}

.comment_body {
    margin-top: 10px;
    overflow: auto;
    font-size: 8pt;
}

table.issues_list {
    border-top: 3px solid #C3D9FF;
    border-collapse: collapse;
}

table.issues_list td {
    border: 1px solid gray;
    font-size: 12pt;
}
