{% extends "base.html" %}

{% block title %}
Attachment {{ attachment.filename }}
{% endblock %}

{% block header_ext %}
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/pygments.css" type="text/css" />
{% endblock %}

{% block content %}
    <div id="content">

        {% include "header.html" %}

        <div id="issue" class="panel">
            <b>Attachment: {{ attachment.filename }}</b>
                (<a href="/bugs-ui/attachment/{{ attachment.attach_id }}/view/raw/">raw</a>)
        </div>
        {% load colorize %}
        <div id="metadata_attachment">
            {{ attachment_data|colorize }}
        </div>
    </div>
{% endblock %}

