{% extends "base.html" %}

{% block title %}
Issue {{ bug.bug_id }} - {{ bug.short_desc }}
{% endblock %}

{% block header_ext %}
<script type="text/javascript">
function attach_file_click(event) {
    event.preventDefault();
    $("div.attachmentarea").show();
    $(event.target).hide();
}

function comment_area_click(event) {
    event.preventDefault();
    $("div.controls").show();
}

function label_input_focus(event) {
    event.preventDefault();
    $(event.target).next().children("ul").show();
    $(event.target).next().css("left", $(event.target).position().left);
}
function label_input_blur(event) {
    event.preventDefault();
    $(event.target).parent().hide();
}
function menu_click(event) {
    event.preventDefault();
    var item_val = $(event.target).text();
    var input_field = $(event.target).parent().parent().prev();
    input_field.val(item_val);
    input_field.next().children("ul").hide();
}

$(document).ready(function() {
    $("#attachafile").click(attach_file_click);
    $("#comment_area").click(comment_area_click);
    $("ul.menu li").click(menu_click);
    $("input.label_in_field").focus(label_input_focus);
    $("ul.menu").hover("", label_input_blur);
});
</script>
{% endblock %}

{% block content %}
    <div id="content">

        {% include "header.html" %}

        <div id="issue" class="panel">
            <b>Issue <a href="http://hpfem.org/bugs/show_bug.cgi?id={{ bug.bug_id }}">{{ bug.bug_id }}</a>: {{ bug.short_desc }}</b>
            <span id="prevnext">
                {% if prev_bug %}
                    <a href="/bugs-ui/bug/{{ prev_bug }}/">&laquo; Prev</a>
                {% endif %}
                {% if next_bug %}
                    <a href="/bugs-ui/bug/{{ next_bug }}/">Next &raquo;</a>
                {% endif %}
            </span>
        </div>
        <div id="metadata">
            <table>
                <tr><td><b>Status:</b></td><td><a class="label" href="/bugs-ui/?status={{ bug.bug_status }}">{{ bug.bug_status|lower|capfirst }}</a></td></tr>
                <tr><td><b>Product:</b></td><td><a class="label" href="/bugs-ui/?product={{ bug.product.name }}">{{ bug.product.name }}</a></td></tr>
                <tr><td><b>Component:</b></td><td>{{ bug.component.name }}</td></tr>
                <tr><td><b>Platform:</b></td><td>{{ bug.rep_platform }}</td></tr>
                <tr><td><b>Priority:</b></td><td><a class="label" href="/bugs-ui/?priority={{ bug.priority }}">{{ bug.priority }}</a></td></tr>
                <tr><td>Bugzilla:</td><td><a href="http://hpfem.org/bugs/show_bug.cgi?id={{ bug.bug_id }}">{{ bug.bug_id }}</a></td></tr>
                <tr><td></td><td></td><tr>
                <tr><td></td><td></td><tr>
                {% for kw in keywords %}
                    <tr><td><a class="label" href="/bugs-ui/?keyword={{ kw.id }}">{{ kw.name }}</a></td><td></td><tr>
                {% endfor %}
            </table>
        </div>
        <div id="comments">
            <div class="comment">
                <div class="comment_head">
                    Reported by <a href="/bugs-ui/u/{{ comments_first.who.login_name }}/">{{ comments_first.who.realname }}</a>,
                    {{ comments_first.bug_when }}
                </div>
                <div class="comment_body">
                    <pre>{{ comments_first.thetext|urlize }}</pre>
                </div>
            </div>
            {% for comment in comments_other %}
            <div class="comment">
                <div class="comment_head">
                    Comment <a href="/bugs-ui/bug/{{ bug.bug_id }}/#{{ forloop.counter }}">{{ forloop.counter }}</a>
                    by <a href="/bugs-ui/u/{{ comment.who.login_name }}/">{{ comment.who.realname }}</a>,
                    {{ comment.bug_when }}

                    {% ifequal user.username comment.who.login_name %}
                        <a href="/bugs-ui/bug/{{ bug.bug_id }}/delete/{{ comment.comment_id }}">Delete comment</a>
                    {% endifequal %}
                </div>
                <div class="comment_body">
                    <pre>{{ comment.thetext|urlize }}</pre>
                </div>
            </div>
            {% endfor %}
            <div class="comment">
            {% if user.is_authenticated %}
                <div class="comment_head">
                    Add a comment
                </div>
                <div class="comment_body">
                    {% if error_msg %}
                        {{ error_msg }}
                    {% endif %}
                    <form action="/bugs-ui/bug/{{ bug.bug_id }}/" method="POST" enctype="multipart/form-data">
                        {{ comment_form.comment_text }}<br/>
                        <div class="controls">
                            <div class="attachmentarea">
                                {{ comment_form.attachment }}
                            </div>
                            <a href="" id="attachafile">Attach a file</a><br/>
                            <br/>
                            {% for label in keywords_fields %}
                                {{ label }}
                            {% endfor %}
                            <br/>
                            <br/>
                            <input type="submit" value="Submit changes"/>
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="comment_head">
                    <a href="/bugs-ui/login/?next={{ request_path }}">Login</a> to add a comment.
                </div>
            {% endif %}
            </div>
        </div>
        {% if attachments %}
        <div class="attachments">
            <b>Attachments:</b>
            <table class="attachments">
                <tr>
                    <th>File</th>
                    <th>Submitter</th>
                    <th>Date</th>
                </tr>

                {% for a in attachments %}
                <tr>
                    <td>{{ a.filename }} (<a href="/bugs-ui/attachment/{{ a.attach_id }}/view/">view</a>,
                        <a href="/bugs-ui/attachment/{{ a.attach_id }}">download</a>{% ifequal user.username a.submitter.login_name %}, <a href="/bugs-ui/attachment/{{ a.attach_id }}/delete/">delete</a>{% endifequal %})</td>
                    <td>{{ a.submitter.realname }}</td>
                    <td>{{ a.creation_ts }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
{% endblock %}

