<html>
<head>
    <title>Issue {{ bug.bug_id }} - {{ bug.short_desc }}</title>
    <link rel="stylesheet" href="/media_files/style.css" type="text/css" />
</head>
<body>
    <a href="/ui/">Issues</a>
    <form action="/ui/" method="GET">
        Search
        {{ form.issue_types }}
        for
        {{ form.search_text }}
        <input type="submit" value="Search"/>
    </form>
    <h3>Issue {{ bug.bug_id }}: {{ bug.short_desc }}</h3>
    <div class="comment">
        <p class="comment_header">
            Reported by {{ comments_first.who.realname }},
                {{ comments_first.bug_when }}
        <p>
        <p class="comment_text">
            <pre>{{ comments_first.thetext }}</pre>
        </p>
    </div>
    {% for comment in comments_other %}
    <div class="comment">
        <p class="comment_header">
        Comment {{ forloop.counter }} by {{ comment.who.realname }}, {{ comment.bug_when }}
        <p>
        <p class="comment_text">
            <pre>{{ comment.thetext }}</pre>
        </p>
    </div>
    {% endfor %}
    <p>
    <h4>attachments:</h4>
    <ul>
    {% for a in attachments %}
    <li>
    {{ a.filename }} (submitted by {{ a.submitter.realname }},
        {{ a.creation_ts }})
    </li>
    {% endfor %}
    </ul>
    </p>

</body>
</html>
