<html>
<head>
    <title>bugs</title>
</head>
<body>
    <h3>Issues</h3>
    <form action="/ui/" method="POST">
        Search
        {{ form.issue_types }}
        for
        {{ form.search_text }}
        <input type="submit" value="Search"/>
    </form>
    <ul>
        {% for bug in bugs %}
        <li>{{ bug.bug_id }}:
            <a href="bug/{{ bug.bug_id }}/">{{ bug.short_desc }}</a>
            (status: {{ bug.bug_status }})
        </li>
        {% endfor %}
    </ul>

</body>
</html>
