{% extends "base.html" %}

{% block title %}
Issues
{% endblock %}

{% block content %}
<div id="content">
    <div id="header" class="panel">
        <a href="/bugs-ui/">Issues</a>
        <span class="bar">|</span>
        <a href="/bugs-ui/new/">New Issue</a>
        <span class="bar">|</span>
        <form action="/bugs-ui/" method="GET">
            Search {{ form.issue_types }} for {{ form.search_text }}
            <input type="submit" value="Search"/>
        </form>
        <span class="bar">|</span>
        <a href="/bugs-ui/search/">Advanced Search</a>
    </div>

    <div id="issues">
        <table class="issues_list">
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Status</th>
                <th>Summary</th>
            </tr>
            {% for bug in bugs %}
            <tr>
                <td>{{ bug.bug_id }}</td>
                <td>{{ bug.product.name }}</td>
                <td>{{ bug.bug_status }}</td>
                <td>
                    <a href="bug/{{ bug.bug_id }}/">{{ bug.short_desc }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

