{% extends "base.html" %}

{% block title %}
Issues
{% endblock %}

{% block content %}
<div id="content">

    {% include "header.html" %}

    <div id="issues">
        <table class="issues_list">
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Summary</th>
            </tr>
            {% for bug in bugs %}
            <tr>
                <td>{{ bug.bug_id }}</td>
                <td><a class="label" href="/bugs-ui/?product={{ bug.product.name }}">{{ bug.product.name }}</a></td>
                <td><a class="label" href="/bugs-ui/?status={{ bug.bug_status }}">{{ bug.bug_status|lower|capfirst }}</a></td>
                <td><a class="label" href="/bugs-ui/?priority={{ bug.priority }}">{{ bug.priority }}</a></td>
                <td>
                    <a href="bug/{{ bug.bug_id }}/">{{ bug.short_desc }}</a>
                    {% for kw in bug.kws.all %}
                        <a class="label" href="/bugs-ui/?keyword={{ kw.id }}">{{ kw.name }}</a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

