{% extends "base.html" %}

{% block title %}
Issues User {{ user.login_name }}
{% endblock %}

{% block content %}
    <div id="content">

        {% include "header.html" %}

        <div id="issue" class="panel">
            <b>Login</b>
        </div>
        <div id="metadata_login">

{% if login_form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url ui.views.login_view %}">
<table>
<tr>
    <td>{{ login_form.username.label_tag }}</td>
    <td>{{ login_form.username }}</td>
</tr>
<tr>
    <td>{{ login_form.password.label_tag }}</td>
    <td>{{ login_form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

        </div>
    </div>
{% endblock %}

