{% extends "base.html" %}

{% block title %}
Issues User {{ user_info.login_name }}
{% endblock %}

{% block content %}
    <div id="content">

        {% include "header.html" %}

        <div id="issue" class="panel">
            <b>User: {{ user.login_name }}</b>
        </div>
        <div id="metadata_user">
            <table>
                <tr><td><b>Login name:</b></td><td>{{ user_info.login_name }}</a></td></tr>
                <tr><td><b>Real name:</b></td><td>{{ user_info.realname }}</a></td></tr>
                <tr><td><b>Pass:</b></td><td>{{ user_info.cryptpassword }}</a></td></tr>
            </table>
        </div>
    </div>
{% endblock %}

